/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
 }

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
 }

.main .content { 
    width: 90%;
    border: 5px solid #660330;
    }

[role="tab"] {
    font-weight: 600;
    font-decoration: underlined;
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.matTab {
    width: 100%;
}
